/* Typography */
/* headers-font-family: 'Julius Sans One', sans-serif;
paragraphs-font-family: 'Source Sans Pro', sans-serif;
*/

/* Colors
grey- #e9e9e9
soft pink- #E5B9B6
lightblue- #D3DDE6
darkerblue- #5389A6
oceanblue- #171F30
darkgrey- #C8CEC4
 */

 html, body {
 	background: #e9e9e9;
 	box-sizing: border-box;
 }
*, *:before, *:after{
  box-sizing: inherit;
}
 h1, h2, h3, h4, h5, {
 font-family: 'Julius Sans One', sans-serif;
 }
 h1 {
   color: #171F30;
   font-size: 300%;
 }
 h2, h3 {
   color: #171F30;
 }
 p{
font-family: 'Source Sans Pro', sans-serif;
 }
 *
 {
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
 }
 li, a, button {
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 500;
   font-size: 16px;
  color: #edf0f1;
 }
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.nav_link {
  position: fixed;
  padding-top: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  background-color: #171F30;
  opacity: 0.8;
  line-height: 45px;
  list-style: none;
  width: 100%;
}
.nav_link li {
  display: inline-block;
  padding: 0px 20px;
}
.nav_link li a {
  transition: all 0,3s ease 0s;
}
.nav_link li a:hover {
  color: #0088a9;
}
.cta {
  padding: 0px 12px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  cursor: pointer;
  transition: all 0,3s ease 0s;
  position: fixed;
  top: 0px;
}
.cta:hover {
  background-color: rgba(0, 136, 169, 0,8);
}
.home.top{
  width: 50%;
}
.home{
  float: right;
}

#intersection {
  margin-top: 20vh;
  }

#introduction{
  margin-top: 15%;
}
.contentwrap{
    max-width: 950px;
    margin: 0 auto;
    padding: 20px;
    overflow: auto;
  }
.projects {
  	background: #5389A6;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item {
  flex: 0 1 200px;
  background-color: #5389A6;
}
.Education {
  	background: #91A8B5;
}
.divider > section {
  border-bottom: 1px dashed #171F30;
  padding: 25px 0;
}
.divider > section:last-of-type {
  border-bottom: none;
}
.WorkExperience {
  	background: #D3DDE6;
}
footer {
  background: "images/footer.jpg";
  text-align: center;
}
.footer-img {
  transform: rotate(90deg);
    width: 100%;
    height: 1200px;
    background-size: 100% 100%;
}​
